<html>
	<head>
		<title>The MEAN stack</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	</head>
	<body>
		<h1>IT is working despite angular being in LTS mode</h1>
	</body>
</html>
